@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Montserrat&family=Roboto+Slab:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100%;
  color: lightgray;
  font-family: 'Montserrat', sans-serif;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: rgb(3, 1, 26);
}


